.tokenGenOne, .tokenGen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;

}
.TokenButton{
    font-size: x-large;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 20vh;
    width: 40vh;
}